
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue:#03045E; 
    --dark-browm:#474306;
    --dark-yellow:#F5EE84;
    --light-yellow:#FBF8CC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-yellow);
    font-family: 'poppins';
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    max-width: 250px;
    width: 100%;
}
.nav-icon{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
}
.nav-logo{
    font: size 1.5rem;
    font-weight: 600;
    color:var(--dark-blue)
}
.nav-item a{

    text-decoration:none;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section .left-section .h3 {
    font-size: 1.5rem;
    color: var(--dark-blue);
}
.hero-section .left-section .h1{
    font-size: 6.25rem;
    line-height: 1.1rem;
    color: var(--dark-blue);
}
.left-section .left-button button{

padding: 1rem 2rem;
border-radius:7px;
background-color: transparent;
border-radius:7px;
border:1px solid var(--dark-browm);
color: var(--dark-browm);
}
.left-section .left button .button: :hover;
transform:translate(5%,5%);

.left-section .left button{
    position:relative;
    display: inline-block;
    margin-top: 2rem;
}
.left-section .left-button .button-rectangle{
    width: 50px;
    height: 50px;
    background-color: var(--dark-yellow);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    z-index: -1;
    top: 10%;
    left: 5%;

}
/*about-section
*/
.about-section h2{
    font-size:1.5rem;
    max-width: 900px;
    width:100%;
}
.timeline{
    display: flex;
    flex-direction: coloumn;
    align-items: end;
}
.timeline-item.timeline-dot{
    width: 13px;
    height: 13px;
    background-color: var(--dark-blue);
    border-radius: 

    .navbar .nav-logo{
        font: size 1.3rem;
    }

    .nav-item a{
        font: size 1.3em;
    }

    .nav-icon img{
        width: 70px;
    }

    .hero-section .left-section h1{
        font size:5rem;
    }






